<div class="span5" style="text-align:right;">
  <div class="control-group">
    <div class="controls">
      <div class="input-append">
        <input id="appendedInputButtons" placeholder="Search" type="text" value="<%=params[:search]%>">
        <button type="submit" class="btn btn-inverse" id="search_option"><i class="icon-search icon-white"></i>&nbsp;Search</button>
      </div>
    </div>
  </div>
</div>