<p>Token available for the Venue <b><%=@venue.name%></b></p>
<p>To Regenarate click the link below:</p>
<p><a href="/venues/access_token?venue_id=<%=@venue.id%>">Regenarate Access Token for FourSquare</a></p>
