
<%= form_tag url_for(:action => 'update_password'),:id => 'resetpasswd-form' do %>
<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<span class="brand">InStore</span>
			</div>
		</div>
	</div>
	<div class="span4 login-box">
		
		<div class="alert alert-error" <% if @curr_user.errors.any? %> style="display: block;" <% end %>>
			<%= @curr_user.errors.full_messages.join("<br/>").html_safe%>
		</div>
		
		<div class="row" style="padding-bottom:10px;">
			<div class="span3">
				<span class="label label-inverse">Reset Password</span>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				Password
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<input type="password" name="user[clear_password]" id="passwd" placeholder="Password" />
			</div>
		</div>
		<div class="row">
			<div class="span3">
				Confirm Password
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<input type="password" name="user[clear_password_confirmation]" id="cfpasswd" placeholder="Confirm Password" />
			</div>
		</div>
		<div class="row">
			<div class="span3 aright">
				<input type="submit" name="login" id="login" value="Reset Password" class="btn btn-danger" />
			</div>
		</div>		
	</div>
</div>
<% end %>